
variable "resource_suffix" {}
variable "public_key_path" {}
variable "private_key_path" {}
variable "flavor" {}

# Return the first one of each router, network, subnet and network_names,
# as these should be the same for all servers
output "router_name" { value = "${openstack_networking_router_v2.router_0.name}" }
output "router_id" { value = "${openstack_networking_router_v2.router_0.id}" }
output "network_name" { value = "${openstack_networking_network_v2.network_0.name}" }
output "network_id" { value = "${openstack_networking_network_v2.network_0.id}" }
output "subnet_name" { value = "${openstack_networking_subnet_v2.subnet_0.name}" }
output "subnet_id" { value = "${openstack_networking_subnet_v2.subnet_0.id}" }
output "network_names" {
   value = {
    {% for n in range(num_of_networks) %}
    "network_{{ n }}" = "${openstack_compute_instance_v2.server_0.network.{{ n }}.name}",
    {% endfor %}
  }
}

output "security_group_name" { value = "${openstack_compute_secgroup_v2.security_group.name}" }
output "security_group_id" { value = "${openstack_compute_secgroup_v2.security_group.id}" }
output "keypair_name" { value = "${openstack_compute_keypair_v2.keypair.name}" }

{% for sn in range(num_of_managers) %}
output "networks_{{ sn }}" {
  value = {
    {% for n in range(num_of_networks) %}
    "network_{{ n }}" = "${openstack_compute_instance_v2.server_{{ sn }}.network.{{ n }}.fixed_ip_v4}",
    {% endfor %}
  }
}

output "private_ip_address_{{ sn }}" { value = "${openstack_compute_instance_v2.server_{{ sn }}.network.0.fixed_ip_v4}" }
output "public_ip_address_{{ sn }}" { value = "${openstack_networking_floatingip_v2.floatingip_{{ sn }}.address}" }
output "server_name_{{ sn }}" { value = "${openstack_compute_instance_v2.server_{{ sn }}.name}" }
output "server_id_{{ sn }}" { value = "${openstack_compute_instance_v2.server_{{ sn }}.id}" }
{% endfor %}


{% for n in range(num_of_networks) %}
resource "openstack_networking_router_v2" "router_{{ n }}" {
  name = "router-{{ n }}-${var.resource_suffix}"
  external_gateway = "dda079ce-12cf-4309-879a-8e67aec94de4"
}

resource "openstack_networking_network_v2" "network_{{ n }}" {
  name = "network-{{ n }}-${var.resource_suffix}"
}

resource "openstack_networking_subnet_v2" "subnet_{{ n }}" {
  name = "subnet-{{ n }}-${var.resource_suffix}"
  network_id = "${openstack_networking_network_v2.network_{{ n }}.id}"
  cidr = "1{{ n }}.0.0.0/24"
  dns_nameservers = ["8.8.8.8", "8.8.4.4"]
}

resource "openstack_networking_router_interface_v2" "router_interface_{{ n }}" {
  router_id = "${openstack_networking_router_v2.router_{{ n }}.id}"
  subnet_id = "${openstack_networking_subnet_v2.subnet_{{ n }}.id}"
}
{% endfor %}

resource "openstack_compute_secgroup_v2" "security_group" {
  name = "security_group-${var.resource_suffix}"
  description = "cloudify manager security group"
  rule {
    from_port = 22
    to_port = 22
    ip_protocol = "tcp"
    cidr = "0.0.0.0/0"
  }
  rule {
    from_port = 80
    to_port = 80
    ip_protocol = "tcp"
    cidr = "0.0.0.0/0"
  }
  rule {
    from_port = 8086
    to_port = 8086
    ip_protocol = "tcp"
    cidr = "0.0.0.0/0"
  }
  rule {
    from_port = 8080
    to_port = 8080
    ip_protocol = "tcp"
    cidr = "0.0.0.0/0"
  }
  {% for n in range(num_of_networks) %}
  rule {
    from_port = 1 
    to_port = 65535
    ip_protocol = "tcp"
    cidr = "${openstack_networking_subnet_v2.subnet_{{ n }}.cidr}"
  }
  {% endfor %}
  rule {
      from_port = 443
      to_port = 443
      ip_protocol = "tcp"
      cidr = "0.0.0.0/0"
    }
}

resource "openstack_compute_keypair_v2" "keypair" {
  name = "keypair-${var.resource_suffix}"
  public_key = "${file("${var.public_key_path}")}"
}


{% for sn in range(num_of_managers) %}

resource "openstack_networking_floatingip_v2" "floatingip_{{ sn }}" {
  pool = "GATEWAY_NET"
}

resource "openstack_compute_instance_v2" "server_{{ sn }}" {
  name = "server-{{ sn }}-${var.resource_suffix}"
  image_name = "{{ image_name }}"
  flavor_name = "${var.flavor}"
  key_pair = "${openstack_compute_keypair_v2.keypair.name}"
  security_groups = ["${openstack_compute_secgroup_v2.security_group.name}"]

  {% for n in range(num_of_networks) %}
  network {
    uuid = "${openstack_networking_network_v2.network_{{ n }}.id}"
  }
  {% endfor %}

  floating_ip = "${openstack_networking_floatingip_v2.floatingip_{{ sn }}.address}"

  provisioner "remote-exec" {
    inline = [
      "echo hello world"
    ]
    connection {
      type = "ssh"
      user = "centos"
      private_key = "${file("${var.private_key_path}")}"
      timeout = "10m"
      agent = "false"
    }
  }
}

{% endfor %}
