git+https://github.com/cloudify-cosmo/cloudify-common@4.4#egg=cloudify-common==4.4
git+https://github.com/cloudify-cosmo/cloudify-cli@4.4#egg=cloudify==4.4
git+https://github.com/cloudify-cosmo/cloudify-agent@4.4#egg=cloudify-agent==4.4
mock
passlib==1.7.1
