git+https://github.com/cloudify-cosmo/cloudify-common@4.6#egg=cloudify-common==4.6
git+https://github.com/cloudify-cosmo/cloudify-cli@4.6#egg=cloudify==4.6
git+https://github.com/cloudify-cosmo/cloudify-agent@4.6#egg=cloudify-agent==4.6
mock
passlib==1.7.1
