git+https://github.com/cloudify-cosmo/cloudify-dsl-parser@master#egg=cloudify-dsl-parser==4.2.dev1
git+https://github.com/cloudify-cosmo/cloudify-rest-client@master#egg=cloudify-rest-client==4.2.dev1
git+https://github.com/cloudify-cosmo/cloudify-plugins-common@master#egg=cloudify-plugins-common==4.2.dev1
git+https://github.com/cloudify-cosmo/cloudify-script-plugin@master#egg=cloudify-script-plugin==1.5.1
git+https://github.com/cloudify-cosmo/cloudify-cli@master#egg=cloudify==4.2.dev1
git+https://github.com/cloudify-cosmo/cloudify-agent@master#egg=cloudify-agent==4.2.dev1
mock
passlib==1.7.1
