set -eax

cd {{ work_dir }}
source {{ venv_name }}/bin/activate
cd {{ venv_name }}

git clone https://github.com/cloudify-cosmo/cloudify-3.2.1-snapshots-tool.git
pip install -e ./cloudify-3.2.1-snapshots-tool
cfy-snapshot32
mv snapshot.zip ../
