set -eax

cd {{ work_dir }}
source {{ venv_name }}/bin/activate
cd {{ venv_name }}

# TODO: this url has to be changed
git clone https://github.com/xwombat/cloudify-3.2-snapshot.git
python ./cloudify-3.2-snapshot/create_snapshot_3_2.py
mv snapshot.zip ../
