set -eax

cd {{ work_dir }}
source {{ venv_name }}/bin/activate

cd {{ repo_path }}
echo "ctx instance runtime_properties {{ runtime_property_name }} {{ runtime_property_value }}" >> ./scripts/stop.sh
cd {{ work_dir }}/{{ venv_name }}

cfy blueprints upload {{ repo_path }}/blueprint.yaml -b {{ app_name }}
cfy deployments create {{ app_name }} -b {{ app_name }} -i {{ work_dir }}/{{ helloworld_inputs_file }}
sleep 5
cfy executions start install -d {{ app_name }} -l
