keystone_username: '{{ keystone_username }}'
keystone_password: '{{ keystone_password }}'
keystone_tenant_name: '{{ keystone_tenant_name }}'
keystone_url: '{{ keystone_url }}'
region: '{{ region }}'
manager_public_key_name: '{{ manager_public_key_name }}'
agent_public_key_name: '{{ agent_public_key_name }}'
image_id: '{{ image_id }}'
flavor_id: '{{ flavor_id }}'
external_network_name: '{{ external_network_name }}'

use_existing_manager_keypair: true
use_existing_agent_keypair: true
manager_server_name: '{{ manager_server_name }}'
manager_server_user: '{{ manager_server_user }}'
manager_private_key_path: '{{ manager_private_key_path }}'
agent_private_key_path: '{{ agent_private_key_path }}'
agents_user: '{{ agents_user }}'
management_network_name: '{{ management_network_name }}'
management_subnet_name: '{{ management_subnet_name }}'
management_router: '{{ management_router }}'

manager_security_group_name: '{{ manager_security_group_name }}'
agents_security_group_name: '{{ agents_security_group_name }}'
manager_port_name: '{{ manager_port_name }}'
manager_volume_name: '{{ manager_volume_name }}'

nova_url: ''
neutron_url: ''
resources_prefix: '{{ resources_prefix }}'