[Unit]
Description=InfluxDB Service

[Service]
TimeoutStartSec=0
Restart=on-failure
User=influxdb
Group=influxdb
ExecStart=/usr/bin/influxdb -config=/opt/influxdb/shared/config.toml

[Install]
WantedBy=multi-user.target