<!doctype html>
<html>
    <head>
        <title>Cloudify Hello World</title>
    </head>
<body>
    <h1>Hello, World!</h1>
    <p>
        blueprint_id = <%= @cloudify_blueprint_id %><br/>
        deployment_id = <%= @cloudify_deployment_id %><br/>
        node_id = <%= @cloudify_node_id %><br/>
    </p>
    <p>
        <img src="images/cloudify-logo.png" alt="Cloudify Logo" />
    </p>
</body>
</html>
